body {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    width: 1920px;
    height: 4000px;
    background-color: #171717;
    padding: 26px 230px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: #E4B564;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link {
    border: 1px solid #E4B564;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 18px;
}
.vector-1 {
    margin-right: 10px;
}
h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 128px;
}
.title-text {
    display: block;
    margin-top: 41px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    width: 1182px;
    height: 56px;
}
.box-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,468px);
    gap: 30px;
    margin-top: 40px;
}
a.link-title-box {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.center {
    display: grid;
    justify-content: center;
    align-items: center;
}
.item-title-1 {
    background: #634F2C;
grid-column: 1/3;

}
.item-title-2 {
    background: #B4A385;
grid-column: 3/5;
}
.item-title-3 {
    background: #E4B564;
    grid-column: 5/7;
}
.item-title-4 {
    background: #635A4A;
grid-column: 1/4;
}
.item-title-5 {
    background: #B08C4D;
grid-column: 4/7;
}
.link-center {
    width: 416px;
}
.first-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 161px;
}
.box-title-2 {
    display: grid;
    margin-top: 94px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 65px);
    gap: 29px;
}
.item-box-title-1 {
    background: #0E0E0E;
    grid-column: 1/2;
    grid-row: 1/5;
}
.item-box-title-2 {
    background: #242424;
    grid-column: 2/3;
    grid-row: 1/6;
}
.item-box-title-3 {
    background: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/4;
}
.item-box-title-4 {
    background: #1F1F1F;
    grid-column: 1/2;
    grid-row: 5/11;
}
.item-box-title-5 {
    background: #E4B564;
    grid-column: 2/3;
    grid-row: 6/11;
}
.item-box-title-6 {
    background: #0E0E0E;
    grid-column: 3/4;
    grid-row: 4/8;
}
.item-box-title-7 {
    background: #0A0909;
    grid-column: 3/4;
    grid-row: 8/11;
}
.link-center-2 {
    margin-left: 51px;
}
.second-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 364px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
a.second-title-link {
    padding: 10px 40px;
}
.box-title-3 {
    display: grid;
    margin-top: 72px;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(3, 391px);

}
.box-item-1 {
    background: #634F2C;
}
.box-item-2 {
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 61px;
}
.box-item-3 {
    background: #E4B564;
}
.box-item-4 {
    background: #635A4A;
}
.box-item-5 {
    background: #B08C4D;
}
.box-item-6 {
    background: #634F2C;
}
.item-vector {
    position: relative;
    width: 100%;
}
.text-style {
    position: absolute;
    top: 183px;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
}
.text-style__letters {
    border-right: 4px solid white;
    padding-right: 2px;
}
b {
    text-align: center;
    color: white;
}
.text-mavis {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 326px;
    margin-top: 16px;
}
.vector-image {
    padding-right: 93px;
}
footer {
    height: 50px;
}